<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <a href="/flights">All Flights</a>
    <a href="/flights/new">Add a Flight</a>
  </nav>
  <body>

    
    