* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
  /* max-width: 480px; */
}

body {
  margin: 0;
  height: 100vh;
  /* display: grid; */
  /* grid-template-rows: 50px 1fr;
  grid-template-areas:  */
  /* "nav";
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}


body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 0 20px 0 30px; */
}


nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}



nav > a:hover {
  color: #F1F3F6;
  background-color: #00B7FF;
  
}

h1 {
  display: flex;
  justify-content: center;
}

table, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F1F3F6;
  align-items: center;
}

section {
  display: flex ;
  justify-content: center;
  flex-direction: column;
  
}


